 <div class="fashion">
         <!-- <img src="images/1sale.png" style="background-color: rgb(239, 233, 233); max-width: f;" /> -->
      </div>
      <br><br><br>
      
      </div>
      <!-- end three_box section -->

      <!--  footer -->
      <footer>
         <div class="footer">
            
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p><a href="#">MADE by Varun</a></p>
                     </div>
                  </div>
               </div>
            </div>
        
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/public/js/jquery.min.js"></script>
      <script src="/public/js/popper.min.js"></script>
      <script src="/public/js/bootstrap.bundle.min.js"></script> 
      <script src="/public/js/jquery-3.0.0.min.js"></script> 
      <!-- sidebar -->
      <script src="/public/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/public/js/custom.js"></script>
      
