<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>main project</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/public/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/public/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/public/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/public/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="/public/css/product.css">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Font Awesome 6 CSS file -->
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="your-integrity-value" crossorigin="anonymous" />

<!-- Font Awesome 6 JavaScript file -->
<script src="https://pro.fontawesome.com/releases/v6.0.0-beta1/js/all.js" integrity="your-integrity-value" crossorigin="anonymous"></script>
    <style>
     h1:first-of-type {
    display: none;
  }

     .alert{
      opacity: 1;
      transition: opacity 1s linear;
    }
    .alert.hide{
      opacity: 0;
    }
    
 </style>       
</head>