<section class="banner_main">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="text-bg">
               <h2> <span class="blodark">DAILY NEED STORE</span> <br></h2>
               <br><br>
               <p>A huge collection of Daily needs </p>
               <a class="read_more" href="#">Shop now</a>
            </div>
         </div>
         <div class="col-md-4">
            <div class="ban_img">
               <figure><img
                     src="/public/images/bestone.jpg"
                     alt="#" /></figure>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end banner -->
<!-- six_box section -->
<div class="six_box">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-2 col-sm-4 pa_left">
            <div class="six_probpx yellow_bg">
               <!-- <i><img src="images/veg_origin.png" alt="#"/></i> -->
               <span>Vegetables</span>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 pa_left">
            <div class="six_probpx bluedark_bg">
               <!-- <i><img src="images/snacks.png" alt="#"/></i> -->
               <span>Snacks</span>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 pa_left">
            <div class="six_probpx yellow_bg">
               <!-- <i><img src="images/bread.png" alt="#"/></i> -->
               <span>Bread</span>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 pa_left">
            <div class="six_probpx bluedark_bg">
               <!-- <i><img src="images/beverages1.png" alt="#"/></i> -->
               <span>Beverages</span>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 pa_left">
            <div class="six_probpx yellow_bg">
               <!-- <i><img src="images/grains.png" alt="#"/></i> -->
               <span>Grains and Pulses</span>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 pa_left">
            <div class="six_probpx bluedark_bg">
               <!-- <i><img src="images/dairy.png" alt="#"/></i> -->
               <span>Dairy Products </span>
            </div>
         </div>
      </div>
   </div>
</div>