<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    
    <style>
        .random{
           
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        .alert{
      opacity: 1;
      transition: opacity 1s linear;
    }
    .alert.hide{
      opacity: 0;
    }
    </style>
</head>
<body >
   <!--Main Navigation-->
   <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Welcome</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <li>
                        <a href="/orderactions" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="/addcategory" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Add Category </span></a>
                       
                    </li>
                    <li>
                        <a href="/addproduct" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline"> Add Products</span> </a>
                           
                    </li>
                    <li>
                        <a href="/deletepro" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Delete Product</span> </a>
                    </li>
                    <li>
                        <a href="/deletecat" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Delete Category</span> </a>
                    </li>
                </ul>
                <hr>
                
            </div>
        </div>
       
        
        <div class="random"> {{#if err}}
             <div  id="ordercancel"class="alert alert-success" role="alert">{{err}}</div>
              <img  style="margin-top: 135px;
              margin-left: 300px;" src="../../public/images/logo (3).png" alt="">
        </div>
     
    </div>
</div>
 {{/if}}
 
    <script>
var alert=document.getElementById("ordercancel")
setTimeout(function(){
  alert.classList.add("hide");
},5000)
 
 </script>
</body>
</html>